# dns - unbound rules
{% for acl in unbound_acl_ipv4 -%}
-A INPUT -m state --state NEW -m tcp -p tcp --dport 53 --source {{ acl }} -j ACCEPT
-A INPUT -m state --state NEW -m udp -p udp --dport 53 --source {{ acl }} -j ACCEPT
{% endfor -%}

{% if unbound_acl_groups is defined %}
{% for group in unbound_acl_groups%}
# Parsing inventory group {{ group }}
{% for host in groups[group] %}
{% if hostvars[host].ip is defined %}
-A INPUT -m state --state NEW -m tcp -p tcp --dport 53 --source {{ hostvars[host].ip }} -j ACCEPT
-A INPUT -m state --state NEW -m udp -p udp --dport 53 --source {{ hostvars[host].ip }} -j ACCEPT
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
