# dns - unbound rules
{% for acl in unbound_acl_ipv4 -%}
-A INPUT -m state --state NEW -m tcp -p tcp --dport 53 --source {{ acl }} -j ACCEPT
-A INPUT -m state --state NEW -m udp -p udp --dport 53 --source {{ acl }} -j ACCEPT
{% endfor -%}
